h1{
            color: blue;
            font-size: 50px;
        }
        h2{
            color: aqua;
            font-size: 60px;
        }
        img{
            width: 700px;
            height: 500px;
        }